TELEGRAM_BOT_TOKEN=your_bot_token_from_botfather
# Your Telegram user IDs
WHITELIST_USERS=123456789,987654321       
# Optional, defaults to ./downloads
DOWNLOAD_PATH=/downloads
# Optional, defaults to ~/.config/qobuz-dl/
CONFIG_PATH=/qobuz-dl
PROXY_URL=http://...
QOBUZ_EMAIL=
QOBUZ_PASSWORD=
