TELEGRAM_BOT_TOKEN=your_bot_token_from_botfather
# Your Telegram user IDs
WHITELIST_USERS=123456789,987654321       
# Optional, defaults to ./downloads
DOWNLOAD_PATH=/downloads
# Optional
QOBUZ_DB=/qobuz-dl/qobuz.db
PROXY_URL=http://...
QOBUZ_ENABLED=true
APPLE_MUSIC_ENABLED=true
QOBUZ_EMAIL=
# [!] ATTENTION: Qobuz API blocked direct password login for 3rd party apps.
# [!] You must use your browser Auth Token (F12 > Storage > Local Storage > user_auth_token).
#
# i personally used this: https://github.com/nathom/streamrip/issues/954#issuecomment-4186625654
QOBUZ_PASSWORD=

START_SCAN_ENDPOINT=https://ap...

APPLE_MUSIC_DOWNLOAD_URL=http://apple-music-api:8000
